<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> <div class="main-content" style="height: 440px; margin-bottom: 14px;"> 


<!--<div class="text-center"> <h4>MY RECENT ACTIVITIES</h4> </div> -->

<div class="text-center" style="padding: 12px;"> 
<p style="margin-bottom: 36px;">
    These activities are automatically updated from my Twitter page.
</p>


<a class="twitter-timeline" href="https://twitter.com/trinhngocdieu" data-widget-id="727143026083004416" data-chrome="noheader nofooter noborders  noscrollbar" width="100%"> 



    <img src="../images/loading.gif"> </a> 
    
    
    
</div> 
    

</div>





