<p>
    Welcome to my personal website!<br>
    I am living and working in Tokyo, Japan 🗾.<br>
    In this small corner, I would like to share about what I learnt, my life experiences, or just the favorite books.<br>
    
</p> <br> 

<p> 

<h5><b>🪕 MY HOBBY</b></h5> 

I enjoy cycling 🚴🏻️ on sunny days, savoring the scent of the breeze.<br>
I also love drinking tea 🍵 and learning languages. <br>

You might want to send me a message to just say "hello"!️ <br> 

</p> <br> <p> <h5><b>📍 LOCATION</b></h5> <div class="text-center"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207447.05401888338!2d139.5760610946033!3d35.668131368854965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2sTokyo!5e0!3m2!1sen!2sjp!4v1699178524044!5m2!1sen!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
