<div style="padding-bottom:24px;"> <p> Thank you for visiting my personal website!<br> In this huge world of internet, we can meet each other here.<br>

<br> You can leave a message or just say "have a nice day" by clicking the below button. <br> Let's be friend on this journey of life!  </p> <div class="text-center"> <img src="images/love-note.png" width="200" height="200" ng-click="sendMessage()"> </div> <div class="text-center"> <button class="btn btn-default" ng-click="sendMessage()"> SEND MESSAGE </button> </div> <br> 

<p>
    You also can email me at: <a href="mailto:contact@trinhngocdieu.com" style="color: white;">contact@trinhngocdieu.com</a>
</p>
</div>