
<div class="" style="height: 440px; padding: 12px; margin-bottom: 20px;">
        <p>
        You can find my payment/transfer information on my personal transfer page for easy reference when needed.
    </p>
    
    <div class="text-center" style="font-size: 15px;margin-top: 36px;">
        <div>
            👱 Name: Trinh Ngoc Dieu
        </div>
        <div>
            🏦 ACB Bank: 38797487
        </div>
        <div>
            💴 PayPay: 08031992608
        </div>
    </div>
    <div class="text-center">
        <img
            src="https://cdni.iconscout.com/illustration/premium/thumb/mobile-money-transfer-3494304-2928759.png"
            height="300px"
        
        />
    </div>

    
</div>