<div class="row">
  <div class="col-sm-12">
    I'm currently working on several personal and community projects.<br />
    If you're interested or would like to collaborate, please contact me! 🙌<br />
    <br />

    <p></p>

    <ul>
      <li>
        <a href="unihongo.com" target="_blank" style="color: white"
          >unihongo.com</a
        >
        (active)
      </li>
      <li>abcvietnamese.com</li>
      <li>cardgo.io</li>
      <li>gotransform.me</li>
    </ul>

    <p style="margin-top: 20px">
      * Note: Due to an AWS billing issue, some services will be temporarily
      suspended.. 😂
    </p>

    <div class="text-center" style="margin-bottom: 24px">
      <img
        src="https://storage.googleapis.com/sheldoniowa-com-1/2020/03/5f598088-pay-bill-icon-6.jpg.png"
        width="300"
        height="300"
      />
    </div>
  </div>
</div>
